annotated-types==0.7.0
anyio==4.4.0
asgiref==3.7.2
asyncpg==0.29.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
databases==0.9.0
distlib==0.3.8
dnspython==2.6.1
email_validator==2.2.0
fastapi==0.114.2
fastapi-cli==0.0.5
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
Jinja2==3.1.4
platformdirs==4.3.4
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2023.3.post1
PyYAML==6.0.2
requests==2.32.3
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlparse==0.4.4
starlette==0.38.5
threadpoolctl==3.5.0
tzdata==2024.1
virtualenv==20.26.4
watchfiles==0.24.0
websockets==13.0.1

